<!-- Basic layout-->
<div class="panel panel-flat">
  
    <div class="panel-heading">
        <h5 class="panel-title"><%= t(:new_slide) %></h5>
    </div>
    
    <div class="panel-body">
        <%= render 'form', slide: @slide %>
    </div>

</div>
<!-- /basic layout -->