<li>
  <a href="#"><i class="glyphicon glyphicon-camera"></i> <span>Slideshow</span></a>
  <ul>
      <li class="<%= active(naturesoft_slideshows.admin_slideshows_path) %>">
        <%= link_to 'Slideshows', naturesoft_slideshows.admin_slideshows_path %>
      </li>
      <li class="<%= active(naturesoft_slideshows.admin_slides_path) %>">
        <%= link_to 'Slides', naturesoft_slideshows.admin_slides_path %>
      </li>
  </ul>
</li>