<li>
  <a href="#"><i class="glyphicon glyphicon-camera"></i> <span>Slideshow</span></a>
  <ul>
      <li>
        <%= link_to 'Slideshows', naturesoft_slideshows.backend_slideshows_path %>
      </li>
      <li>
        <%= link_to 'Slides', naturesoft_slideshows.backend_slides_path %>
      </li>
  </ul>
</li>