<% title "Edit slideshow: " + @slideshow.name %>

<!-- Basic layout-->
<div class="panel panel-flat">
  
  <div class="panel-heading"></div>
  
  <div class="panel-body">
    <%= render 'form', slideshow: @slideshow %>
  </div>

</div>
<!-- /basic layout -->